.purchase {
    background-color: rgb(26, 153, 15);
    border-color: rgb(26, 153, 15);
    margin-bottom: .25rem;
}

.purchase:hover {
    background-color: rgb(42, 187, 28);
    border-color: rgb(42, 187, 28);
    box-shadow: 0 0 10px rgb(34, 202, 19), 0 0 15px rgb(34, 202, 19), 0 0 30px #fff;
}