.cartItemInfo h4 {
    margin-bottom: 0!important;
    color: #f1f1f1!important;
}

.cartItemInfo p {
    margin-bottom: 0;
    color: #f1f1f1;
}

.cartChart {
    box-shadow: 5px 5px 15px rgb(255, 99, 43), -5px -5px 15px rgb(255, 99, 43);
    margin: 15rem 20rem;
    padding: 3rem;
    border-radius: 2rem;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1.5rem;
}

.btnContainer__btn {
    background-color: #f1f1f1;
    border-color: rgb(255, 99, 43);
    color: rgb(255, 99, 43);
}

.btnContainer__btn:hover, .btnContainer__btn:active {
    background-color: rgb(255, 99, 43)!important;
    border-color: rgb(255, 99, 43)!important;
    color: #f1f1f1!important;
}

.cartItemInfo {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin: 1.5rem 0 1rem 0;
    background: rgb(255, 127, 81);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 8px #3a3a3a;
}

.cartItemInfo img {
    width: 5.5rem;
    border-radius: 0.5rem;
}

.cartItemInfo__trashCan {
    display: flex!important;
    transition: .25s;
}

.cartItemInfo__trashCan:hover {
    color: rgb(255, 0, 0)!important;
    background-color: #f1f1f1;
    padding: .15rem;
    border-radius: 20%;
    transition: .25s;
}