.cartItemInfo h4 {
    margin-bottom: 0!important;
    color: #f1f1f1!important;
}

.cartItemInfo p {
    margin-bottom: 0;
    color: #f1f1f1;
}

.cartChart {
    box-shadow: 5px 5px 15px rgb(255, 99, 43), -5px -5px 15px rgb(255, 99, 43);
    margin: 15rem 20rem;
    padding: 3rem;
    border-radius: 2rem;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1.5rem;
}

.btnContainer__total {
    color: rgb(255, 99, 43);
    font-size: 1.15rem; 
    padding-right: 30rem;
    margin: 0;
}

.btnContainer__btn {
    background-color: #f1f1f1;
    border-color: rgb(255, 99, 43);
    color: rgb(255, 99, 43);
}

.btnContainer__emptyCart {
    background-color: red;
    border-color: red;
    color: #f1f1f1;
}

.btnContainer__emptyCart:hover, .btnContainer__emptyCart:active {
    background-color: rgb(151, 3, 3);
    border-color: rgb(151, 3, 3);
    color: #f1f1f1;
}

.btnContainer__btn:hover, .btnContainer__btn:active {
    background-color: rgb(255, 99, 43)!important;
    border-color: rgb(255, 99, 43)!important;
    color: #f1f1f1!important;
}

.cartItemInfo {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
    margin-top: 1rem;
    padding-right: 2.5rem;
    background: rgb(255, 127, 81);
    border-radius: 0.75rem;
    box-shadow: 3px 3px 8px #3a3a3a;
    width: 100%;
}

.cartItemInfo img {
    width: 5.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.cartItemInfo__trashCan {
    display: flex;
    justify-content: end;
    transition: .25s;
}

.cartItemInfo__trashCan:hover {
    color: rgb(255, 0, 0)!important;
    transition: .25s;
}

.theTrashCan:hover {
    cursor: pointer;
}