.landingContainer__img {
    width: 40rem;
    display: flex;
    flex: 1;
    width: 104%;
    height: 100%;
}

.landingContainer__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #ebebeb;
    flex: 1;
    width: 100%;
    padding: 0 16rem;
}

.landingContainer__header h1 {
    font-size: 4rem;
}

span {
    color: rgb(255, 99, 43);
}

.landingContainer__header .underline {
    text-decoration: underline;
}

.landingContainer__body {
    font-size: 1.25rem;
}

.landingContainer__footer {
    font-size: 1.5rem;
}

.landingContainer__btn {
    border-radius: .5rem;
    background-color: rgb(255, 99, 43);
    color: #ebebeb;
    border: solid rgb(255, 99, 43);
    transition: .25s;
}

.landingContainer__btn:hover {
    background-color: #11053b;
    border: solid #11053b;
    transition: .25s;
}