.cart {
    position: relative;
    margin-right: 3rem;
}

.cart-badge {
    position: absolute;
    color: rgb(255, 99, 43);
    padding: .5px 12px;
    font-size: 14px;
    font-weight: bold;
    transition: .5s;
}

.cartIcon {
    transition: .5s;
}

.cartIcon:hover {
    transition: .25s;
    color: rgb(255, 99, 43)!important;
}

.cartDisplay {
    background-color: #11053b;
    color: #f1f1f1;
}

