@font-face {
  font-family: 'salma';
  src: url('./fonts/salma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titleFont';
  src: url('./fonts/titleFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
  color: #f1f1f1;
  text-decoration: none;
  transition: .25s;
}

a:hover {
  color: rgb(255, 99, 43);
  transition: .25s;
}

.App {
  text-align: center;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url(../src/assets/images/sideBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  font-family: 'salma', sans-serif;
  overflow-x: hidden;
}

.divider {
  margin: 0!important;
  color: rgb(255, 99, 43)!important;
  border: solid rgb(255, 99, 43)!important;
  opacity: 1!important;
}

.bgContainer {
  margin: 0 15rem;
  background-color: #0e0822!important;
}
