.itemCounter__addItemBtn {
  border-radius: 1000%;
  background-color: rgb(255, 99, 43);
  border: none;
  font-weight: bold;
  color: #f1f1f1;
  height: 2.75rem;
  width: 2.75rem;
}

.itemCounter__addItemBtn:disabled {
  background-color: rgb(255, 185, 159);
  color: #999999;
  transition: .25s;
}


.itemCounter {
  margin-bottom: .5rem;
  color: #f1f1f1;
  font-weight: bold;
  font-size: 1.5rem;
  padding: .25rem .5rem;
  border-radius: 2rem;
}

p {
  font-weight: bold;
}